#include "SettingsPageRes.h"
#include "../../GuiCommon.rc"

#define xc 240
#define yc 310

IDD_SETTINGS_EXTRACT  MY_PAGE
#include "SettingsPageExtract2.rc"


#ifdef UNDER_CE

#undef m
#undef xc

#define m 4
#define xc (SMALL_PAGE_SIZE_X + 8)

IDD_SETTINGS_EXTRACT_2  MY_PAGE
#include "SettingsPageExtract2.rc"

#endif
